<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdateBuildVersion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UpdateBuildVersion.Properties.Settings>
            <setting name="LastBuildDate" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
            <setting name="LastBuildNum" serializeAs="String">
                <value>0</value>
            </setting>
        </UpdateBuildVersion.Properties.Settings>
    </userSettings>
</configuration>